/*

Theme Name: X
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: An immensely powerful and endlessly customizable WordPress theme.
Version: 4.6.4
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: __x__

*/
.page-header{
    display:none;
}
.h7{
    color: #111111;
    font-size: 80%;
 }
.img-k-border > img {border:2px solid #000 !important;}


.mobile-only {display:none !important;}
@media screen and (max-width: 767px) {
	.mobile-only {display:block !important;}
}